<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="popup-form" id="deny-popup" th:fragment="popup">
    <form class="form-container" id="deny-form" method="post">
        <label>Cause
            <input type="text" placeholder="Type rejected cause" th:name="cause">
        </label>
        <button type="submit" class="btn">Deny request</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
</div>

<div th:fragment="active">
    <h3>Active requests</h3>
    <h4 th:if="${activeRequests.isEmpty()}">No active requests</h4>
    <table th:if="${!activeRequests.isEmpty()}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Assigned doctor</th>
            <th>Examined by doctor status</th>
            <th>Assigned instructor</th>
            <th>Examined by instructor status</th>
            <th>Crew</th>
            <th>Flight</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="req:${activeRequests}">
            <td th:text="${req.getId()}"></td>
            <td th:text="${req.getAssignedDoctor()}"></td>
            <td th:text="${req.getExaminedByDoctor()}"></td>
            <td th:text="${req.getAssignedInstructor()}"></td>
            <td th:text="${req.getExaminedByInstructor()}"></td>
            <td th:text="${req.getCrew()}"></td>
            <td th:text="${req.getFlight()}"></td>
            <td>
                <form th:action="@{__${#httpServletRequest.requestURI}__/accept/{id}(id=${req.getId()})}" method="post">
                    <button>Accept</button>
                </form>
                <button th:onclick="'openForm('+${req.getId()}+')'">Deny</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="past">
    <h3>Past requests</h3>
    <h2 th:if="${pastRequests.isEmpty()}">There were no requests</h2>
    <table th:if="${!pastRequests.isEmpty()}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Assigned doctor</th>
            <th>Examined by doctor status</th>
            <th>Assigned instructor</th>
            <th>Examined by instructor status</th>
            <th>Crew</th>
            <th>Flight</th>
            <th>Rejected cause</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="req:${pastRequests}">
            <td th:text="${req.getId()}"></td>
            <td th:text="${req.getAssignedDoctor()}"></td>
            <td th:text="${req.getExaminedByDoctor()}"></td>
            <td th:text="${req.getAssignedInstructor()}"></td>
            <td th:text="${req.getExaminedByInstructor()}"></td>
            <td th:text="${req.getCrew()}"></td>
            <td th:text="${req.getFlight()}"></td>
            <td th:text="${req.getRejectedCause()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</html>